:root {
    --primaryBG: #272838;
    --header: #84cf8a;
    --text: #b59ad3;
    --white: #dddddd;
    --button: #347FC4;
}

* {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryBG);
  color: var(--text);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header);
}

input {
    background-color: var(--white);
}

ul {
    list-style: none;
}

button {
    background-color: var(--button);
    color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
